<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tpv.cirer.com.restaurante" >
    <!-- Network connectivity permissions -->
    <uses-permission android:name="android.permission.USB"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.START_PRINT_SERVICE_CONFIG_ACTIVITY" />
    <uses-permission android:name="android.permission.BIND_PRINT_SERVICE"/>
-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- Access Google based webservices -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature android:required="true" android:name="android.hardware.nfc"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-feature android:name="android.hardware.usb.host" android:required="false"/>
    <!-- si required es true se tiene que rootear dispositivo y hacer lo siguiente
    into folder
    /system/etc/permissions
    in that folder find file named
    handheld_core_hardware.xml or tablet_core_hardware.xml
    and add <feature name="android.hardware.usb.host" />-->
    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.RicoPaRico" >
             <receiver
            android:name="tpv.cirer.com.restaurante.servicios.AndroPHPAlarmReceiver"
            android:process=":remote" >
        </receiver>

        <service
            android:name="tpv.cirer.com.restaurante.servicios.AndroPHPService"
            android:exported="false" />
        <service android:name="tpv.cirer.com.restaurante.servicios.ServiceMesas"></service>


        <activity
            android:name="tpv.cirer.com.restaurante.ui.ActividadInicio"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:label="@string/titulopersonalizado" >
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
            <meta-data android:name="tpv.cirer.com.restaurante.GlideConfiguration"
                android:value="GlideModule"/>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

        </activity>
 <!--       <activity
            android:name="ui.AnotherActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:icon="@drawable/logo"
            android:theme="@style/Base.AppTheme">
        </activity>
-->
        <activity
            android:name="tpv.cirer.com.restaurante.ui.SplashScreen"
            android:label="@string/titulopersonalizado"
            android:screenOrientation="landscape"
            android:icon="@drawable/logo"
            android:theme="@style/Base.AppTheme"
            android:parentActivityName="tpv.cirer.com.restaurante.ui.ActividadInicio" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tpv.cirer.com.restaurante.ui.ActividadInicio" />
        </activity>

        <!--    android:theme="@style/Theme.ConNavigationDrawer"-->
        <activity android:name="tpv.cirer.com.restaurante.ui.LoginActivity"
            android:screenOrientation="landscape"
            android:icon="@drawable/marivent"
            android:label="@string/titulopersonalizado"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:parentActivityName="tpv.cirer.com.restaurante.ui.SplashScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tpv.cirer.com.restaurante.ui.SplashScreen" />
        </activity>
        <activity
            android:name=".timetable.MainActivity"
            android:label="@string/app_name_timetable"
            android:screenOrientation="landscape"
            android:icon="@drawable/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/Base.AppThemePlanning"
            android:parentActivityName="tpv.cirer.com.restaurante.ui.ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tpv.cirer.com.restaurante.ui.ActividadPrincipal" />
        </activity>

        <activity
            android:name=".magstripe.MagstripeReaderActivity"
            android:label="@string/app_name_mag"
            android:screenOrientation="landscape"
            android:icon="@drawable/icon"
            android:theme="@style/Base.AppTheme"
            android:parentActivityName="tpv.cirer.com.restaurante.ui.ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tpv.cirer.com.restaurante.ui.ActividadPrincipal" />
        </activity>
        <activity
            android:name=".emvcardreader.MainActivity"
            android:label="@string/app_name_emvcardreader"
            android:screenOrientation="landscape"
            android:icon="@drawable/icon"
            android:theme="@style/Base.AppTheme"
            android:parentActivityName="tpv.cirer.com.restaurante.ui.ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tpv.cirer.com.restaurante.ui.ActividadPrincipal" />
        </activity>
        <activity
            android:name="tpv.cirer.com.restaurante.ui.CreditCardNfcReaderActivity"
            android:label="@string/app_name_creditcardnfcreader"
            android:screenOrientation="landscape"
            android:icon="@drawable/ic_launcher_card"
            android:theme="@style/Base.AppTheme"
            android:parentActivityName="tpv.cirer.com.restaurante.ui.ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tpv.cirer.com.restaurante.ui.ActividadPrincipal" />
        </activity>
        <activity
            android:name="tpv.cirer.com.restaurante.ui.EasyredsysActivity"
            android:label="@string/titulopersonalizado"
            android:screenOrientation="landscape"
            android:icon="@drawable/logo"
            android:theme="@style/Base.AppTheme"
            android:parentActivityName="tpv.cirer.com.restaurante.ui.ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tpv.cirer.com.restaurante.ui.ActividadPrincipal" />
        </activity>
        <activity
            android:name="tpv.cirer.com.restaurante.ui.WebgooglecalendarActivity"
            android:label="@string/titulopersonalizado"
            android:screenOrientation="landscape"
            android:icon="@drawable/logo"
            android:theme="@style/Base.AppTheme"
            android:parentActivityName="tpv.cirer.com.restaurante.ui.MesasActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tpv.cirer.com.restaurante.ui.MesasActivity" />
        </activity>
        <activity
            android:name="tpv.cirer.com.restaurante.ui.WebadminActivity"
            android:label="@string/titulopersonalizado"
            android:screenOrientation="landscape"
            android:icon="@drawable/logo"
            android:theme="@style/Base.AppTheme"
            android:parentActivityName="tpv.cirer.com.restaurante.ui.ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tpv.cirer.com.restaurante.ui.ActividadPrincipal" />
        </activity>

        <activity
            android:name="tpv.cirer.com.restaurante.ui.WebeasyredsysActivity"
            android:label="@string/titulopersonalizado"
            android:screenOrientation="landscape"
            android:icon="@drawable/logo"
            android:theme="@style/Base.AppTheme"
            android:parentActivityName="tpv.cirer.com.restaurante.ui.ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tpv.cirer.com.restaurante.ui.ActividadPrincipal" />
        </activity>

        <activity
            android:name="tpv.cirer.com.restaurante.ui.ActividadPrincipal"
            android:screenOrientation="landscape"
            android:label="@string/titulopersonalizado"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.ConNavigationDrawer"
            android:parentActivityName="tpv.cirer.com.restaurante.ui.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tpv.cirer.com.restaurante.ui.LoginActivity" />
         </activity>

<!--        <activity
            android:name=".ui.ActividadPrincipal"
            android:label="@string/app_name"
            android:theme="@style/Theme.ConNavigationDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
-->        <activity
            android:name="tpv.cirer.com.restaurante.ui.ActividadConfiguracion"
            android:label="@string/titulo_actividad_configuracion"
            android:parentActivityName="tpv.cirer.com.restaurante.ui.ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tpv.cirer.com.restaurante.ui.ActividadPrincipal" />
        </activity>

        <activity
            android:name="tpv.cirer.com.restaurante.ui.MesasActivity"
            android:label="@string/titulo_actividad_mesas"
            android:theme="@style/AppTheme"
            android:parentActivityName="tpv.cirer.com.restaurante.ui.ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tpv.cirer.com.restaurante.ui.ActividadPrincipal" />
        </activity>
        <activity
            android:name="tpv.cirer.com.restaurante.ui.PlanningActivity"
            android:label="@string/titulo_actividad_mesas"
            android:theme="@style/AppTheme"
            android:parentActivityName="tpv.cirer.com.restaurante.ui.ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tpv.cirer.com.restaurante.ui.ActividadPrincipal" />
        </activity>

        <activity
            android:name="tpv.cirer.com.restaurante.ui.FirmaActivity"
            android:screenOrientation="landscape"
            android:label="Signature"
            android:parentActivityName="tpv.cirer.com.restaurante.ui.ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tpv.cirer.com.restaurante.ui.ActividadPrincipal" />
        </activity>
        <activity
            android:name="tpv.cirer.com.restaurante.ui.ActivityImprimirVentas"
            android:label="@string/titulo_actividad_print"
            android:parentActivityName="tpv.cirer.com.restaurante.ui.ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tpv.cirer.com.restaurante.ui.ActividadPrincipal" />
        </activity>

    </application>

</manifest>
